div.stChatInput{
    position: fixed !important;
    bottom: 20px !important;
}

/*forbid slide*/
section.st-emotion-cache-uf99v8 {
    overflow: hidden !important;
}


/* back button*/
div.stLinkButton{
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
}