video.stVideo{
    width: 2135px !important;
    margin: -1000px -100px -1000px -79px !important;
}

div.st-af {
    background-color: rgba(255,255,255,.5) !important;
    padding: 5px !important;
    border-radius: 3px !important;

}
div.st-ai{
    padding:20px !important;
    background-color: rgba(255,255,255,.5) !important;
    border-radius: 3px !important;

}
span.st-emotion-cache-10trblm {
      color: #0A58A6 !important;
      background-color: rgba(255,255,255,.5) !important;
      position: absolute !important;
      width: 90% !important;
      padding-top: 30px !important;
      height: 70px !important;
      top: -54px !important;
}
section.st-emotion-cache-uf99v8 {
    overflow: hidden !important;
}


/* stLinkButton*/
div.stLinkButton{
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 1000 !important;

}
